<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <!-- indica quais as saidas para cada tipo de log, pode ser arquivo e outros. DEVE criar uma <rule> para gravar o log dentro desse target
  . A ordem está influenciando nas mensagens entre um arquivo e outro -->
  <targets>
    <target name="logfile" xsi:type="File" fileName="D:\MyProjects\RallyDakarCurso\RallyDakar.API\Logs\nlog-${shortdate}.log" />
    <target name="logAPIfile" xsi:type="File" fileName="D:\MyProjects\RallyDakarCurso\RallyDakar.API\Logs\nlog-API-${shortdate}.log" />
  </targets>

  <!-- configura a regra do log e em qual arquivo <target> vai ser gravado (writeTo). A ordem está influenciando nas mensagens entre um arquivo e outro -->
  <rules>
    <!-- mensagens do desenvolvedor -->
    <logger name="*" minlevel="Trace" writeTo="logAPIfile" />
    <!-- logs do .net core -->
    <logger name="Microsoft.*" maxlevel="info" final="true" writeTo="logfile" />
  </rules>
</nlog>